<link rel="stylesheet" th:href="@{/css/header.css}">

        <header id="header">
        <h1 class="logo"><a th:href="@{/home}"><img src="/image/allparking_logo.png" alt=""></a></h1>
        <ul class="menu">
            <li class="font"><a href="./home.html">서비스소개</a>
                <ol class="sub">
                    <li><a th:href="@{/me}">개요</a></li>
                    <li><a th:href="@{/team}">팀원소개</a></li>
                    <li><a th:href="@{/location}">오시는길</a></li>
                </ol>
            </li>
            <li class="font"><a href="">주차장검색</a>
                <ol class="sub">
                    <li><a th:href="@{/#}">공영주차장</a></li>
                    <li><a th:href="@{/#}">민영주차장</a></li>
                    <li><a th:href="@{/#}">무료주차장</a></li>
                </ol>
            </li>
            <li class="font"><a href="">충전하기</a>
                <ol class="sub">
                    <li><a href="#">충전하기</a></li>
                    <li><a href="#">충전내역</a></li>
                </ol>
            </li>
            <li class="font"><a href="">고객지원</a>
                <ol class="sub">
                    <li><a th:href="@{/boardinfo}">공지사항</a></li>
                    <li><a th:href="@{/board1}">게시판</a></li>
                </ol>
            </li>
        </ul>
        <ul class="sign">
            <li><a th:href="@{/login}">로그인</a></li>
            <li><a th:href="@{/join}">회원가입</a></li>
        </ul>
    </header>
